Repository tariqjamal057/github-stats: changes, and which pre-commit hooks are due for each by the changed paths.
All: djlint, black, isort, docformatter, pylint

.pre-commit-config.yaml:

exclude: .versions\/.
default_stages: [pre-commit, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-yaml
      name: Check YAML
      description: Simply check YAML files for parseable syntax.
    - id: check-merge-conflict
      name: Check Merge Conflict String
      description: Check for files that contain merge conflict strings.
  - repo: local
    hooks:
    - id: djlint
      name: Djlint
      entry: djlint
      language: python
      types: [html]
      args: ["--reformat", "--format-css", "--format-js"]
      
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [python]
      
    - id: isort
      name: isort
      entry: poetry run isort
      language: system
      types: [python]
      
    - id: docformatter
      name: docformatter
      entry: poetry run docformatter
      language: system
      types: [python]
      args: [--in-place, --config, ./pyproject.toml]
      
    - id: pylint
      name: pylint
      entry: poetry run pylint
      language: system
      types: [python]

refactor: confgure tailwind to use style in django
  github-stats/static/style.css
  package.json
  tailwind.config.js
Due: none

feat: configure env variable and static file folder path
  .env.example
  .gitignore
  github-stats/github_stats/settings.py
  github-stats/github_stats/urls.py
  poetry.lock
  pyproject.toml
Due: black, isort, docformatter, pylint

refactor: resolve issue in setting module
  .env.example
  github-stats/github_stats/settings.py
Due: black, isort, docformatter, pylint

refactor: resolve allowed host issue
  github-stats/github_stats/settings.py
Due: black, isort, docformatter, pylint

feat: integrated django-unfold
  github-stats/github_stats/settings.py
  github-stats/github_stats/urls.py
  poetry.lock
  pyproject.toml
Due: black, isort, docformatter, pylint

refactor: initialise authentication app and custom admin class for user and groups model
  github-stats/authentication/__init__.py
  github-stats/authentication/admin.py
  github-stats/authentication/apps.py
  github-stats/authentication/migrations/__init__.py
  github-stats/authentication/models.py
  github-stats/authentication/tests.py
  github-stats/authentication/views.py
  github-stats/github_stats/settings.py
  pyproject.toml
Due: black, isort, docformatter, pylint

refactor: update server timezone
  github-stats/github_stats/settings.py
Due: black, isort, docformatter, pylint

refactor: update user admin class and add unfold config in setting
  github-stats/authentication/admin.py
  github-stats/github_stats/settings.py
Due: black, isort, docformatter, pylint

feat: initialise readme app
  github-stats/github_stats/settings.py
  github-stats/readme/__init__.py
  github-stats/readme/admin.py
  github-stats/readme/apps.py
  github-stats/readme/migrations/__init__.py
  github-stats/readme/models.py
  github-stats/readme/tests.py
  github-stats/readme/urls.py
  github-stats/readme/views.py
Due: black, isort, docformatter, pylint

refactor: remove tailwind and update folderr strcuture
  authentication/__init__.py
  authentication/admin.py
  authentication/apps.py
  authentication/migrations/__init__.py
  authentication/models.py
  authentication/tests.py
  authentication/views.py
  github_stats/__init__.py
  github_stats/asgi.py
  github_stats/settings.py
  github_stats/urls.py
  github_stats/wsgi.py
  manage.py
  package-lock.json
  package.json
  postcss.config.js
  readme/__init__.py
  readme/admin.py
  readme/apps.py
  readme/migrations/__init__.py
  readme/models.py
  readme/tests.py
  readme/urls.py
  readme/views.py
  static/style.css
  tailwind.config.js
Due: black, isort, docformatter, pylint

refactor: configure django tailwind with django
  .env.example
  github_stats/settings.py
  github_stats/urls.py
  poetry.lock
  pyproject.toml
  theme/__init__.py
  theme/apps.py
  theme/static/css/dist/styles.css
  theme/static_src/.gitignore
  theme/static_src/package-lock.json
  theme/static_src/package.json
  theme/static_src/postcss.config.js
  theme/static_src/src/styles.css
  theme/static_src/tailwind.config.js
  theme/templates/base.html
Due: djlint, black, isort, docformatter, pylint

feat: add navbar for application
  github_stats/settings.py
  poetry.lock
  pyproject.toml
  readme/templates/layouts/base.html
  readme/templates/layouts/navbar/auth_element.html
  readme/templates/layouts/navbar/nav_element.html
  readme/templates/layouts/navbar/navbar.html
Due: djlint, black, isort, docformatter, pylint

feat: add core app
  core/__init__.py
  core/admin.py
  core/apps.py
  core/migrations/__init__.py
  core/models.py
  core/templates/layouts/base.html
  core/templates/layouts/footer.html
  core/templates/layouts/navbar/auth_element.html
  core/templates/layouts/navbar/logo.html
  core/templates/layouts/navbar/nav_element.html
  core/templates/layouts/navbar/navbar.html
  core/templates/layouts/social_media_links.html
  core/tests.py
  core/views.py
  github_stats/settings.py
Due: djlint, black, isort, docformatter, pylint

refactor: replace navigation file destination
  core/templates/layouts/base.html
  core/templates/utility/navbar/auth_element.html
  core/templates/utility/navbar/logo.html
  core/templates/utility/navbar/nav_element.html
  core/templates/utility/navbar/navbar.html
Due: djlint

refactor: remove base template from readme app
  readme/templates/layouts/base.html
  readme/templates/layouts/navbar/auth_element.html
  readme/templates/layouts/navbar/nav_element.html
  readme/templates/layouts/navbar/navbar.html
Due: djlint

refactor: update navbar conf
  core/templates/utility/navbar/navbar.html
Due: djlint

refactor: add background color for all components
  core/templates/layouts/base.html
  pyproject.toml
Due: djlint

feat: add home page ui and it related view
  github_stats/settings.py
  github_stats/urls.py
  readme/templates/index.html
  readme/urls.py
  readme/views.py
  static/media/images/home.png
Due: djlint, black, isort, docformatter, pylint

refactor: update style
  core/templates/layouts/base.html
  readme/templates/index.html
Due: djlint

refactor: update home page image
  readme/templates/index.html
  static/media/images/home.png
Due: djlint

refactor: update home page image
  readme/templates/index.html
Due: djlint

refactor: add feature section in UI and update home page UI
  core/constant.py
  core/templates/layouts/base.html
  core/templates/utility/navbar/navbar.html
  pyproject.toml
  readme/templates/index.html
  readme/templates/utility/home/build_type.html
  readme/views.py
  static/media/images/home.png
  static/media/images/home1.svg
Due: djlint, black, isort, docformatter, pylint

feat: add footer in base template
  core/templates/layouts/base.html
  core/templates/layouts/footer.html
Due: djlint

refactor: update index ui design and social icon color
  core/templates/layouts/social_media_links.html
  readme/templates/index.html
  readme/templates/utility/home/build_type.html
  readme/templates/utility/home/signup_helper.html
Due: djlint

refactor: add app_name in readme app urls and reconfigure home view module
  core/constant.py
  pyproject.toml
  readme/urls.py
  readme/views/__init__.py
  readme/views/index.py
Due: black, isort, docformatter, pylint

refactor: add editor related file and folder in gitignore
  .gitignore
Due: none

refactor: format base file
  core/templates/utility/navbar/auth_element.html
Due: djlint

feat: add base model with soft delete functionality
  core/models.py
  poetry.lock
  pyproject.toml
Due: black, isort, docformatter, pylint

feat: add column and group model and add admin panel conf for model
  readme/admin.py
  readme/models/__init__.py
  readme/models/readme_column.py
Due: black, isort, docformatter, pylint

refactor: update home in logo and move navbar into layout
  core/templates/layouts/base.html
  core/templates/utility/navbar/logo.html
Due: djlint

refactor: update util folder name
  core/templates/layouts/footer.html
  core/templates/layouts/navbar.html
  core/templates/partials/navbar/auth_element.html
  core/templates/partials/navbar/logo.html
  core/templates/partials/navbar/nav_element.html
  static/media/images/Readme1.svg
  static/media/images/Readme2.svg
  static/media/images/home1.svg
Due: djlint

feat: add login and register template and standardise the code and folder structure
  authentication/templates/auth/layouts/base.html
  authentication/templates/auth/login.html
  authentication/templates/auth/register.html
  authentication/urls.py
  authentication/views.py
  core/constant.py
  core/templates/partials/form/errors.html
  core/templates/partials/form/field.html
  core/templates/partials/navbar/auth_element.html
  core/templates/partials/navbar/logo.html
  core/templates/partials/safelist.html
  core/templatetags/__init__.py
  core/templatetags/form_tag.py
  github_stats/settings.py
  github_stats/urls.py
Due: djlint, black, isort, docformatter, pylint

refactor: update admin class element for column ansd group model
  github_stats/urls.py
  readme/admin.py
Due: black, isort, docformatter, pylint

refactor: add columnbuildtype class in constand and remove from modeland add property to render icon
  core/constant.py
  readme/models/readme_column.py
Due: black, isort, docformatter, pylint

refactor: update base field template
  core/templates/partials/form/field.html
Due: djlint

refactor: add filter in model admin config
  readme/admin.py
  readme/models/__init__.py
  readme/models/readme_column.py
Due: black, isort, docformatter, pylint

refactor: update base static file
  core/templates/layouts/base.html
  static/dist/scripts/htmx/htmx.min.js
  static/dist/scripts/sortable/sortable.min.js
  static/scripts/base.js
  static/style.css
  static/styles/base.css
Due: djlint

initialise app to create readme file with drag and drop
  readme/forms/__init__.py
  readme/forms/column.py
  readme/forms/readme_data.py
  readme/migrations/0001_initial.py
  readme/migrations/0002_column_icon.py
  readme/migrations/0003_column_type.py
  readme/migrations/0004_alter_column_symbol.py
  readme/migrations/0005_readmedata.py
  readme/migrations/0006_rename_group_section_alter_section_table.py
  readme/migrations/0007_rename_column_component_alter_component_table.py
  readme/models/readme_data.py
  readme/templates/index.html
  readme/templates/partials/home/build_type.html
  readme/templates/partials/home/signup_helper.html
  readme/templates/readme/file/create_file.html
  readme/templates/readme/file_content/create_readme.html
  readme/urls.py
  readme/views/__init__.py
  readme/views/readme_column.py
  readme/views/readme_data.py
  theme/static/css/dist/styles.css
Due: djlint, black, isort, docformatter, pylint
